<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale = 1.0"/>
    <title>Admin Cingulata</title>
    <script src="@controllers.admin.routes.Assets.at("javascripts/angular/angular.js")" charset="utf-8"></script>
    <script src="@controllers.admin.routes.Assets.at("javascripts/angular-route/angular-route.js")" charset="utf-8"></script>
    <script src="@controllers.admin.routes.Assets.at("javascripts/routes/index.route.js")" charset="utf-8"></script>
    <link rel="stylesheet" href="admin/assets/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <script src="admin/assets/javascripts/cng.main.js"></script>
    <script src="@controllers.admin.routes.Assets.at("javascripts/editablejs/editable.js")" charset="utf-8"></script>
    <script src="@controllers.admin.routes.Assets.at("javascripts/cng.main.js")" charset="utf-8"></script>
    <link rel="stylesheet" media="screen" href="@controllers.admin.routes.Assets.at("stylesheets/editablejs/editable.css")">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <script src="@controllers.admin.routes.Assets.at("javascripts/controllers/ngAdminControllers.js")" charset="utf-8"></script>
    <script type="text/javascript">
      angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
  </head>
  <body ng-app="app">
    <div id="page-wrapper" ng-controller = "AdminController" >
      <div id="page-sidebar"></div>
      <div class="header-nav" id="logo">
          CINGULATA
      </div>
  <!--------------------- SIDEBAR MENU ------------------------------>
        <nav id="sidebar-menu">
          <div class="container">
            <ul class="sidebar-menu">
                  <li ng-class = "{active: isSelected(1)}">
                    <a href="#category"  ng-click = "selectTab(1)">
                      <i></i>
                      <span id="categories">Categories</span>
                      <span class="glyphicons glyphicons-star-empty"></span>
                    </a>
                  </li>
                  <li ng-class = "{active: isSelected(2)}">
                    <a href="#manage-crawlers" ng-click = "selectTab(2)">
                      <i></i>
                      <span id="crawlers">Manage Crawler</span>
                    </a>
                  </li>
                  <li ng-class = "{active:isSelected(3)}">
                    <a href="#crawler-details" ng-click = "selectTab(3)">
                      <i></i>
                      <span id="crawler-details">Crawler Details</span>
                    </a>
                  </li>
          </ul>
        </div>
      </nav>
    <!-------- CONTENT PAGE ----------->
       <div id ="page-content-wrapper">
        <nav id="page-nav">
        <div id="page-content">
          <div class="categories" ng-view>
            categ
          </div>
          <div class="manage-crawler" >
            manage-crawler
          </div>
          <div class="crawler-details">
            crawler-details
          </div>
        </div>
        <div id="page-content">
          Result
        </div>
      </div>
  </div>
  <!-- <script src="@controllers.admin.routes.Assets.at("javascripts/cng.admin.js")" charset="utf-8"></script> -->

  </body>
</html>
