<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale = 1.0"/>
    <title>Admin Cingulata</title>
    <link rel="stylesheet" href="admin/assets/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <script src="admin/assets/javascripts/cng.main.js"></script>
    <script src="@controllers.admin.routes.Assets.at("javascripts/editablejs/editable.js")" charset="utf-8"></script>
    <script src="@controllers.admin.routes.Assets.at("javascripts/cng.main.js")" charset="utf-8"></script>
    <link rel="stylesheet" media="screen" href="@controllers.admin.routes.Assets.at("stylesheets/editablejs/editable.css")">

    <script>
      window.onload = function() {
        document.getElementById("page-sidebar").addEventListener("click", function() {
          if (event.target.tagName == "SPAN") {

            if (event.target.id == "categories") {
              cng.ajax.get("admin/categories", function(xhr) {
                document.getElementById("page-content").innerHTML = xhr.response;
                cng.editable.init();
              });

            } else if (event.target.id == "crawlers") {
              cng.ajax.get("admin/crawlers", function(xhr) {
                document.getElementById("page-content").innerHTML = xhr.response;
                cng.editable.init();
              });

            } else if (event.target.id == "crawler-details") {
                cng.ajax.get("admin/crawler-details", function(xhr) {
                  document.getElementById("page-content").innerHTML = xhr.response;
                  cng.editable.init();
                });
            }
          }
        })
        }
    </script>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="page-sidebar">
        <div class="container">
          <section id="logo">
            CINGULATA
          </section>
          <div id="sidebar-nemu">
            <ul>
              <li>
                <a href="#">
                  <i class="glyph-icon icon-linecons-shop"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i></i>
                  <span id="categories">Categories</span>
                  <span class="glyphicons glyphicons-star-empty"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i></i>
                  <span id="crawlers">Manage Crawler</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i></i>
                  <span id="crawler-details">Crawler Details</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-------- CONTENT PAGE ----------->
      <div id ="page-content-wrapper">
        <nav id="page-nav">
        <div id="page-content">
          Admin
        </div>
      </div>
  </div>
  </body>
</html>
